#box1 {
    font-size: 30px;
    color: navy;
    background-color: lightcoral;
    text-align: center;
}

#box2 h2 {
    color: teal;
}

#box3 h1 {
    color: darkred;
    font-size: 28px;
}

#box4 {
    background-color: lightyellow;
}

#box5 {
    background-color: lightgreen;
}

#a1 {
    color: brown;
}

#a2 {
    color: darkcyan;
}

#a3 {
    color: darkmagenta;
}

#a4 {
    color: goldenrod;
}

#a5 {
    color: slateblue;
}

#c1 {
    color: brown;
}

#c2 {
    color: darkcyan;
}

#c3 {
    color: darkmagenta;
}

#c4 {
    color: goldenrod;
}

#c5 {
    color: slateblue;
}

#b1 {
    width: 200px;
    height: 100px;
    background-color: coral;
}

#b2 {
    width: 250px;
    height: 150px;
    background-color: steelblue;
}

#b3 {
    width: 300px;
    height: 120px;
    background-color: seagreen;
}

#row1 {
    background-color: peachpuff;
}

#row2 {
    background-color: lightpink;
}

#row3 {
    background-color: lightcyan;
}
